<app-initialpage2></app-initialpage2>
<div class="container">
  <h1 style="text-align: center">Welcome to ARTBLOGS!!!</h1>
  <p style="text-align: center">
    Here, you will find amazing articles regarding coding, life and many more...
  </p>
  <button
    type="button"
    class="btn btn-success btn-md nav-item"
    style="cursor: pointer; margin-left: 28rem"
    data-toggle="modal"
    data-target="#exampleModal"
    (click)="openPopup()"
  >
    Add Article
  </button>
  <button
    type="button"
    class="btn btn-success btn-md nav-item"
    style="cursor: pointer;"
    (click)="userArticle()"
    [disabled]="dis"
  >
    Your Articles
  </button>
</div>
<!-- <pagination-controls (pageChange) = "p = $event" style="text-align: center; padding-top: 50px;"></pagination-controls> -->
<hr *ngIf="h2"/>
<div>
  <div class="card-group row">
    <!-- <h2 *ngIf="h2">Your Articles:</h2> -->
    <h2 *ngIf="h2"> {{ (userart.length===0? "you don't have any articles, you can add one using Add Article button.": ' Your Articles' )}} </h2>
    <div class="col-md-3 article" *ngFor="let uart of userart">
      <div class="card mb-4 text-white bg-dark">
        <img
          class="card-img-top"
          src="https://cdn.pixabay.com/photo/2017/04/23/09/31/newspaper-2253409_960_720.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{ uart.title }}</h5>
          <button
          (click)="openPopup2(uart)"
            class="btn btn-outline-light btn-sm btn-success"
          >
            Update
          </button>
          <button
          (click)="deleteArt(uart)"
            class="btn btn-outline-light btn-sm btn-danger"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<hr/>
<h2>All Articles that are available to read...</h2>
<div class="card-group row">
  <div class="col-md-3 article" *ngFor="let article of articles | paginate: {itemsPerPage:10, currentPage:p};">
    <div class="card mb-4 text-white bg-dark">
      <img
        class="card-img-top"
        src="https://cdn.pixabay.com/photo/2017/04/23/09/31/newspaper-2253409_960_720.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <button
          (click)="[goToArticle(article), openModal()]"
          class="btn btn-outline-light btn-sm"
        >
          Read More
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: display }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ art.title }}</h4>
        <button
          type="button"
          class="close btn-primary"
          aria-label="Close"
          (click)="[onCloseHandled(), div2Function()]"
          style="background-color: transparent; color: black"
        >
          <span aria-hidden="true" style="font-size: x-large">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="text-align: justify;">{{ art.content }}</p>
      </div>
      <h6 style="margin-right: 280px" style="float: left; margin-left: 10px">
        Written by: {{ uname }}
      </h6>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          style="float: left; width: 130px"
          (click)="[viewAuthor(), profileData(), div1Function()]"
        >
          Author Details
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="[onCloseHandled(), div2Function()]"
          style="float: right; width: 130px"
        >
          Close
        </button>
      </div>
      <div *ngIf="div1" class="container" style="text-align: center">
        <h6>{{ udata }}</h6>
        <h6>{{ udata2 }}</h6>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyle }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Your Article</h4>
      </div>
      <div class="modal-body">
        <form  [formGroup]="addarticle" novalidate>
            <div class="form-group">
              <label for="exampleInputEmail1">Add Title</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Title" formControlName="title">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Add Content</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Content" formControlName="content"></textarea>
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="[articleSubmit(addarticle.value), closePopup()]">
          Add
        </button>
        <button type="button" class="btn btn-danger" (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- <button class="btn btn-secondary" (click)="logOut()">Logout</button> -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle2}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Your article:</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="editA" novalidate>
        <label>previously Written title:</label>
        <h2 style="text-align: justify;">{{abc}}</h2>
        <label>Update title:</label>
        <textarea class="form-control" rows="1" formControlName="t"></textarea>
        <br/>
        <label>previously Written content:</label>
        <h4 style="text-align: justify;">{{abc2}}</h4>
        <label>Update content:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="c"></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" 
                (click)="[closePopup2(),editArticle(editA.value)]">
          Update
        </button>
        <button type="button" class="btn btn-danger" 
                (click)="closePopup2()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<pagination-controls (pageChange) = "p = $event" style="text-align: center;"></pagination-controls>
